<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="https://www.uniminuto.edu/" target="_blank" class="-m-1.5 p-1.5">
        <span class="sr-only">Uniminuto</span>
        <img class="h-8 w-auto" src="https://www.uniminuto.edu/sites/default/files/logo-para-web.png" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="https://virtual.uniminuto.edu/inscribete/" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Estudia en Uniminuto</a>
      <a href="https://virtual.uniminuto.edu/#Programas" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Programas</a>
      <a href="https://www.uniminuto.edu/direccion-de-asuntos-estudiantiles" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Vida Universitaria</a>
      <a href="https://www.uniminuto.edu/direccion-de-asuntos-estudiantiles-quienes-somos" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Nosotros</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="https://api.whatsapp.com/send?phone=+573173651958&text=%C2%A1Hola!%20Vi%20en%20la%20pagina%20de%20UNIMINUTO%20que%20cuentan%20con%20programas%20100%25%20virtuales.%20%C2%BFPodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">WhatsApp <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
